<a href="https://colab.research.google.com/github/a-engineer/Data-Science/blob/main/CapstoneMilestone3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## University: Grand Canyon University  
### Course: DSC-580  Designing and Creating Data Products
### Professor: Professor Elchouemi    
### Student: Alfredo Sotelo  
### Date: 4/13/22

<h1><center>Capstone Milestone 3: Employee Productivity</center></h1>
The following code performs a multilinear regression on the employee's productivity dataset from the author's workplace.  The following is an explanation of the columns:

1. Employee - the emmployee that performed that worked.  The actual employee id was removed and replaced with a digit to protect the identity of the worker.
2. reg_hours - this is the regular hours that were worked by an employee.
3. ot_hours - this is the overtime hours that were worked by an employee.
4. vac_hours - this is the amount of vacation hours that were worked by an employee.
5. task1_hours - this is task 1 that was performed by an employee.
6. task2_hours - this is task 2 that was performed by an employee.
7. task3_hours - this is task 3 that was performed by an employee.
8. task4_hours - this is task 4 that was performed by an employee.
9. productivity - this is the productivity for an employee for a given year.


The goal of this project is to perform a multilinear regression on this dataset by performing feature selection, data cleanup, and analysis.

The following imports the important libraries.

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

The following imports the employee productivity dataset.

In [ ]:
df = pd.read_csv("employee productivity v2.csv")

The following shows the first 5 rows of data.

In [ ]:
df.head()

,employee,reg_hours,ot_hours,vac_hours,task1_hrs,task2_hrs,task3_hrs,task4_hrs,productivity
0,1,1808,312,68,172,474,534,528,1125
1,2,1700,39,18,519,400,277,202,471
2,3,2052,312,35,299,174,471,475,863
3,4,2063,275,55,507,225,132,242,419
4,5,1819,198,29,561,320,319,573,749

The following checks if any of the variables have null values.

In [ ]:
df.isnull().sum()

employee        0
reg_hours       0
ot_hours        0
vac_hours       0
task1_hrs       0
task2_hrs       0
task3_hrs       0
task4_hrs       0
productivity    0
dtype: int64

The follwing code tells us information about the type of data contained in the columns.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   employee      100 non-null    int64
 1   reg_hours     100 non-null    int64
 2   ot_hours      100 non-null    int64
 3   vac_hours     100 non-null    int64
 4   task1_hrs     100 non-null    int64
 5   task2_hrs     100 non-null    int64
 6   task3_hrs     100 non-null    int64
 7   task4_hrs     100 non-null    int64
 8   productivity  100 non-null    int64
dtypes: int64(9)
memory usage: 7.2 KB

Since all of the data is numerical we won't have to convert any categorical values.

In [ ]:
df.columns

Index(['employee', 'reg_hours', 'ot_hours', 'vac_hours', 'task1_hrs',
       'task2_hrs', 'task3_hrs', 'task4_hrs', 'productivity'],
      dtype='object')

Now we will assign the independent variables to the X variable and the dependent variable to the y variable.

In [ ]:
X = df.drop(['productivity','employee'], axis=1)
X = sm.add_constant(X)
X

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

,const,reg_hours,ot_hours,vac_hours,task1_hrs,task2_hrs,task3_hrs,task4_hrs
0,1.0,1808,312,68,172,474,534,528
1,1.0,1700,39,18,519,400,277,202
2,1.0,2052,312,35,299,174,471,475
3,1.0,2063,275,55,507,225,132,242
4,1.0,1819,198,29,561,320,319,573
...,...,...,...,...,...,...,...,...
95,1.0,1931,262,50,328,445,478,206
96,1.0,1489,71,64,182,305,304,433
97,1.0,1566,430,62,149,337,325,498
98,1.0,1495,340,16,556,399,570,275
99,1.0,1801,119,34,558,593,388,302

In [ ]:
y = df['productivity']
y

0     1125
1      471
2      863
3      419
4      749
      ...
95     685
96     702
97     881
98     759
99     854
Name: productivity, Length: 100, dtype: int64

We will now split the data into a training set and a testing set.  This will help to train the model and test for accuracy.

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

Now we are ready to apply the multiplelinear regression to our data.

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)
model = sm.OLS(y_train,x_train).fit()

The following shows the multiple linear regression intercept and coefficients.

In [ ]:
#Intercept and Coefficient
print("Intercept: ", LR.intercept_)
print("Coefficients:")
list(zip(X, LR.coef_))

Intercept:  46.18136926372006
Coefficients:

[('const', 0.0),
 ('reg_hours', -0.0030026173469478445),
 ('ot_hours', -0.03370201375062166),
 ('vac_hours', 0.43284085074260503),
 ('task1_hrs', 0.02460934768761197),
 ('task2_hrs', -0.003503946016551407),
 ('task3_hrs', 0.9411875934996538),
 ('task4_hrs', 1.007513257927923)]

The following performs predictions on the model.

In [ ]:
y_prediction =  LR.predict(x_test)
y_prediction

array([ 667.94920044,  989.58520271,  883.06726015,  915.16481536,
        543.11663093,  331.70662632,  870.68078955,  368.31422921,
        663.82639354, 1096.80389917, 1051.90315019,  778.74633207,
        795.37333258, 1065.74670535,  734.31474695,  936.82751471,
        959.99812314,  417.65591907,  765.50441702,  317.35963159])

The following compares the actual values with the predicted values.

In [ ]:
#Actual value and the predicted value
LR_diff = pd.DataFrame({'Actual value': y_test, 'Predicted value': y_prediction})
LR_diff.head()

    Actual value  Predicted value
83           568       667.949200
53           930       989.585203
70          1026       883.067260
45          1042       915.164815
44           535       543.116631

The following performs a model evaluation to determine how accurate it is.

In [ ]:
predictions = model.predict(X)
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           productivity   R-squared:                       0.732
Model:                            OLS   Adj. R-squared:                  0.706
Method:                 Least Squares   F-statistic:                     28.10
Date:                Thu, 14 Apr 2022   Prob (F-statistic):           3.18e-18
Time:                        03:13:50   Log-Likelihood:                -486.69
No. Observations:                  80   AIC:                             989.4
Df Residuals:                      72   BIC:                             1008.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         46.1814    135.171      0.342      0.734    -223.277     315.640
reg_hours     -0.0030      0.062     -0.048      0.962      -0.127       0.121
ot_hours      -0.0337      0.098     -0.342      0.733      -0.230       0.163
vac_hours      0.4328      0.629      0.688      0.494      -0.821       1.687
task1_hrs      0.0246      0.094      0.261      0.795      -0.164       0.213
task2_hrs     -0.0035      0.091     -0.038      0.969      -0.186       0.178
task3_hrs      0.9412      0.093     10.151      0.000       0.756       1.126
task4_hrs      1.0075      0.098     10.284      0.000       0.812       1.203
==============================================================================
Omnibus:                       28.029   Durbin-Watson:                   1.838
Prob(Omnibus):                  0.000   Jarque-Bera (JB):                5.773
Skew:                          -0.237   Prob(JB):                       0.0558
Kurtosis:                       1.772   Cond. No.                     2.08e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.08e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
#Model Evaluation
from sklearn import metrics
from sklearn.metrics import r2_score
meanAbErr = metrics.mean_absolute_error(y_test, y_prediction)
meanSqErr = metrics.mean_squared_error(y_test, y_prediction)
rootMeanSqErr = np.sqrt(metrics.mean_squared_error(y_test, y_prediction))
print('R squared: ', r2_score(y_test, y_prediction))
print('Mean Absolute Error:', meanAbErr)
print('Mean Square Error:', meanSqErr)
print('Root Mean Square Error:', rootMeanSqErr)

R squared:  0.8464463512865249
Mean Absolute Error: 87.16950636602738
Mean Square Error: 10103.69188706282
Root Mean Square Error: 100.5171223576502

The R-Squared value of 0.84 suggests that 84% of the data fits the regression model, which is very good.

The Mean Absolute Error is the absolute difference between the actual or true values and the predicted values. The lower the value, the better is the model’s performance. For this model we got a score of 136 which further indicates that the model is somewhat accurate.

The Mean Square Error is calculated by taking the average of the square of the difference between the original and predicted values of the data. The lower the value, the better is the model’s performance. The mean square error for this model was really high, 10,103, further showing signs of an inaccurate model.

The Root Mean Square Error is the standard deviation of the errors which occur when a prediction is made on a dataset. This is the same as Mean Squared Error, but the root of the value is considered while determining the accuracy of the model. The lower the value, the better is the model’s performance. The root mean square error obtained for this particular model is 100, which is pretty high and not very good.

Conclusion:

The dataset that was used to predict employee productivity shows a very bad performance.  One of the reasons for this lack of accuracy could be because the employee's productivity relies on storm callouts and since those are random, this model might not be doing a good job at predicting the future.